<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link href='https://fonts.googleapis.com/css?family=Squada One' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="images/newlogo.png" alt="">
        </div>
            <a href="/">Home</a>
            <a href="#">FAQ</a>
            <a href="mailto:someone@example.com">Contact</a>
            <a href="#">Feedback</a>
            <div class="phonemenu"></div>
    </header>


    <footer>
        <div class="footermenu">
            <div>
               <a href="/about">About</a>
               <a href="#">FAQ</a>
            </div>
            <div>
                <a href="mailto:someone@example.com">Contact</a>
                <a href="#">Feedback</a>
            </div>
          <div class="phonemenu"></div>
        </div>
        
            <a href="#"><img src="images/facebook.png" alt=""></a>
            <a href="#"><img src="images/twitter.png" alt=""></a>
            <a href="#"><img src="images/yt.png" alt=""></a>
            <a href="#"><img src="images/linkedin.png" alt=""></a>
        
  </footer>
</body>
</html>