<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href='https://fonts.googleapis.com/css?family=Squada One' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>BayMax</title>
    
</head>
<body>
   <header>
      <div class="logo">
          <img src="images/newlogo.png" alt="">
      </div>
          <a href="/about">About</a>
          <a href="#">FAQ</a>
          <a href="mailto:someone@example.com">Contact</a>
          <a href="#">Feedback</a>
          <div class="phonemenu"></div>
  </header>
  <a href="#" class="slogan">BAYMAX INDORE SHEAR MAII!!</a>
  <div class="content">
      
      <div class="promptarea">
          <textarea placeholder="Type your message here..." class="chat-input"></textarea>
          <a class="send-button" href="#"> <img src="images/arrow.png" alt=""> </a>
      </div>
      <div class="roboimg">
        <img src="images/robo-Photoroom.png" alt="">
      </div>
  </div>
  <footer>
        <div class="footermenu">
            <div>
               <a href="/about">About</a>
               <a href="#">FAQ</a>
            </div>
            <div>
                <a href="mailto:someone@example.com">Contact</a>
                <a href="#">Feedback</a>
            </div>
          <div class="phonemenu"></div>
        </div>
        
            <a href="#"><img src="images/facebook.png" alt=""></a>
            <a href="#"><img src="images/twitter.png" alt=""></a>
            <a href="#"><img src="images/yt.png" alt=""></a>
            <a href="#"><img src="images/linkedin.png" alt=""></a>
        
  </footer>
</body>
</html>

