body {
    
    margin: 0;
    padding: 0;
    font-family: 'Squada One';
    background-color: black;
}
header{
    background-color: #2b244d;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.5%;
    margin-top: 1%;
    margin-right: 1%;
    margin-left: 1%;
    border-radius: 8px;
    position: sticky;
    top: 1%;
       
}
header a{
    font-size: 22px;
}
.logo{
    width: 40px;
    height: 24px;
}
.logo img{
    margin-top: -15px;
    height: 70px;
    

    
}
header a{
    text-decoration: none;
    color: white;
    padding: 4px;
    
    
}
header a:hover{
    background-color: rgb(221, 230, 234);
    border-radius: 4px;
    padding: 4px;
    transition: background-color 0.3s;
}
.content{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.slogan{
    position: absolute;
    display: flex ;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
    margin-top: 5%;
    margin-left: 25%;
    font-size: 30px;

   
}

.roboimg img{
    height: 500px;
    width: auto;
}

.promptarea{
    margin-top: 15%;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    width: 80%;
    height: fit-content;
    
    
}


.chat-input{
    
    background-color: #2b244d;
    border: none;
    outline: none;
    border-radius: 8px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    resize: none;
    color: white;
    font-size: 24px;
    
    width: 70%;

    
}

.promptarea textarea{
    height:100px ;
    
    
}
.chat-input::-webkit-scrollbar{
   display: none;
    
}
.send-button{
    padding: 8px;
    text-decoration: none;
    background-color: #2b244d;
    color: white;
    border-radius: 8px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
   
    
    
}
.send-button img{
    margin-top: 15%;

}



footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #2b244d;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footermenu{
    display: flex;
    flex-direction: row;
    
    
    

    
}
.footermenu a{
    text-decoration: none;
    color: white;
    margin: 2%;
    font-weight: lighter;
    font-size: 22px;
    flex: 1;
}
.footermenu  div{
     display: flex;
     flex-direction: column;
     margin-right: 50%;
}
.footermenu a:hover{
    text-decoration: underline;
    
}

footer img{
    width: 50px;
    height: auto;
}

